.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  width: 250px;
  min-height: 350px;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  margin: 0 auto;
  margin-top: 10px;
}

.img {
  width: 250px;
  height: 175px;
  object-fit: contain;
  cursor: pointer;
}

.details {
  padding: 10px;
  height: 120px;
}

.product__name {
  display: block;
  font-size: 15px;
  font-weight: bold;
}

.product__category {
  display: block;
  margin-top: 5px;
}

.all__star {
  margin-top: 5px;
}

.rating__count {
  margin-top: 5px;
}

.star__filled {
  color: #ffdf00;
}

.btn {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}

.btn__buy {
  margin-top: 5px;
  margin-bottom: 5px;
  color: white;
  background-color: #10e95a;
  font-size: 20px;
  border: 0px;
  border-radius: 10px;
  height: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
