.heading {
  text-align: center;
}

.table {
  margin: 0 auto;
  cursor: pointer;
}

.box {
  width: 70px;
  height: 70px;
  border: 1px solid grey;
  border-style: inset;
}

.black {
  background-color: black;
}

.white {
  background-color: white;
}

.blue {
  background-color: blue;
}
